body {
    width: 100%;
    height: 100vh;
    margin: auto;
    background: linear-gradient(180deg, #462b7d,  #160e28);
    color: #f5f6f7;
  }
/*Centrar toda la pagina*/
div {
    top: 7%;
    width: 100%;
    text-align: center;
    font-size: 18px;
}
.div2 {
    top: 7%;
    width: 100%;
    text-align: center;
    font-size: 18px;
}
/*Titulo Pagina*/
h2 {
    text-align: center;
    top: 10%;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 36px;
    color: white;
}

/*Divisor texto del pickRandom*/


h3 {
    text-align: center;
    top: auto;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 26px;
    color: white;
}
/*Estilo Boton*/
.button {
    margin: auto;
    display: inline-block;
    padding: 15px 25px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #ffffff;
    background-color: #7648d2;
    border: none;
    border-radius: 15px;
    box-shadow: 0 0 9px 0 rgba(187, 153, 255, 0.282)
  }
  
  .button:hover {background-color: #59428848}
  
  .button:active {
    background-color: #d9c6ff1f;
    box-shadow: 0 0 5px 0 rgb(69, 45, 83);
    transform: translateY(4px);
  } 
footer{
    font-family: "Comic Sans MS", "Comic Sans", cursive; 
}


.copyright:before {
    content: "Todos los zurdos reservados - 1976-1983☭";
    font-size: 18px;
    text-align: left;
}
.copyright:hover:before {
    content: "Todos los derechos reservados 2022 ©";
    font-size: 18px;
    text-align: right;
}
.menu{
    margin-left: auto;
     height: auto;
     width: auto;
     position: relative;
     overflow: auto;
     z-index: 1;
}